<p>  heroes  ! </p>
<h2>{{hero.name | uppercase }} details</h2>
<div><span>id:</span>{{hero.id}}</div>
<div><span>id:</span>{{hero.name}}</div> 

<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div>


<p>
  Seleccionando al heroe
</p>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }}</h2>details
  <div><span>id</span>{{ selectedHero.id}}</div>
  <div>
    <label>
      <input [(ngModel)]="selectedHero.name">     
    </label>
  </div>
</div>


<ul class="heroes">
 	<li *ngFor="let hero of heroes" [class.selected]= "hero === selectedHero "(click)="onSelect(hero)">		
    <a>
 		<span class="badge">{{hero.id}}</span>
    {{hero.name}}  
    </a>   
  </li>
</ul>



<mat-form-field class="example-full-width">
  <input matInput [(ngModel)]="hero.name" placeholder="name">
</mat-form-field>


<!-- <div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" >

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{hero.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{hero.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div> -->